@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-bg: var(--background);
  --color-fg: var(--foreground);

  --font-sans: var(--font-season-sans);

  /* 🎨 Semantic color names */
  --color-gray: #747474;
  --color-gray-dark: #505050;
  --color-gray-light: #949494;
  --color-orange: #E3791D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-season-sans), sans-serif;
}